body{
	margin: 0;
	font-family: Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
	min-width: 920px;
	color: white;
}

#head_content * {
	z-index: 1;
	position: absolute;
}

#head_content .logo{
	left: 160px;
	top: 40px;
}

h1{
	font-family: Agency FB;
	font-size: 42px;
	position: relative;
	left: 237px;
	top: 6px;
	color: white;
	/* text-shadow: 0 2px 8px rgba(0, 0, 0, 1); */
}

.footer div{
	float: left;
}

/* slider */
.dsolution_slider{
	margin:0;
	padding: 0;
	position: fixed;
	width: 100%;
	background-color: #333;
}

.dsolution_slider li{
	position: absolute;
	width: 100%;
	background-position: center 0%;
	background-size: cover;
}

/* end slider */

.content{
	position: relative;
}